.offcanvas.offcanvas-end .offcanvas-header .wizard-close-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  width: auto;
  padding: 0;
  border: 0;
  background: transparent;
  color: $btn-back-color;
}

.create-org-grp-wizard {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 10px 80px 10px;

  .wizard-breadcrumb {
    .breadcrumb {
      margin-bottom: 0;
    }

    .breadcrumb-item {
      font-size: $font-size-16;
      font-weight: $font-weight-regular;
      color: $primary-black;

      a {
        font-size: $font-size-16;
        font-weight: $font-weight-regular;
      }

      &.active {
        font-weight: $font-weight-semi-bold;
      }

      &:last-child::after {
        content: none;
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: $color-white;
    border-top: 1px solid $grey-94;

    &.no-top-border {
      border-top: none;
    }

    button {
      width: revert;
    }

    .footer-left {
      display: flex;
      gap: 12px;
    }

    .custom-button {
      font-size: 14px;
    }
  }
}
